* {
padding: 1px;
font-family: avenir;

}

#output {
white-space: nowrap;
}
.error {
background-color: #eee;
display: inline;
}

.block {
border: 1px solid #ccc;
border-radius: 8px;
margin: 16px;
background-color: #222;
color: #fff;
display: inline-block;
}

.inside {
background-color: #fff;
display: inline-block;
}

.parameterBubble {
border: 1px solid #ccc;
border-radius: 50px;
display: inline;
background-color: #fff;
color: #222;
}

.wide {
  width: 5000px;
  height: 700px;
 }

.object {
background-color: #6DDAEB;
}

.when {
background-color: #BE3164;
}

a {
text-decoration: none;
color: #555;
}

hr {
height: 1px;
border: 0;
border-top: 1px solid #eee;
}
a {
transition: background-color .5s, color .5s;
}

a:hover {
color: #eee;
background-color: #222;
}

.small {
transform: scale(0.1);
}
.big {
transform: scale(10);
}

textarea {
width: 90%;
height: 25%;
background-color: #eee;
color: #222;
font-size: 1em;
white-space: normal;
display: block;
}


/*.center {
text-align: center;
}*/
details {
background-color: #ddd;
}